/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header h2 {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 4px 4px rgba(43, 15, 223, 0.766);
    text-align: center;
    color: rgba(35, 18, 192, 0.817);
    background-color: rgba(62, 5, 207, 0.406);
    padding: .5em;
    border: 6px;
    border-style: dotted;
    border-color: rgba(239, 235, 0, 0.578);
}

nav {
    display: flex;
    justify-content: right;
    align-content: flex-end;
}

nav a {
    display: flexbox;
    text-decoration: none;
    padding: 0px 15px;
    color: whitesmoke;
    background-color: black;
    border-radius: .4em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}