<form action="<%= users_url %>" method="post">
    <label for="email">Email: </label>
    <input type="text" name="user[email]" id="email">
    <br>
    <label for="password">Password: </label>
    <input type="password" name="user[password]" id="password">
    <input type="submit" value="Sign Up">
</form>